div.input-color-swatch {
  /* This should match the styling for ::-moz-color-swatch in forms.css. */
  width: 100%;
  height: 100%;
  min-width: 3px;
  min-height: 3px;
  box-sizing: border-box;
  border: 1px solid grey;
  display: block;
  background-image: linear-gradient(currentColor), repeating-conic-gradient(#ccc 0 25%, white 0 50%);
  background-size: 12px 12px;
}

button.input-color {
  width: 64px;
  height: 32px;
  padding: 4px; /* widget-supplied padding */
}
